.organization__edit {
  background-color: white;
  margin-right: 20px;
  width: 20%;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px 20px;
  font-size: 13px;

  p {
    padding-top: 10px;
  }

  .username {
    font-weight: 600;
    color: #6975e1;
  }

  h3 {
    font-size: 13px;
  }
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    label {
      margin-right: 10px;
    }

    button {
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 680px) {
  .organization__edit {
    width: 100%;
    margin-bottom: 20px;
  }
}
