.tickets {
  margin-left: 150px;
  margin-top: 150px;

  .tickets__wrapper {
    background-color: #fffdff;
    min-height: 200px;
    margin-right: 20px;
    z-index: 4;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 20px;
    margin-bottom: 20px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      font-size: 12px;
    }
    .tickets__table {
      width: 100%;
      border-collapse: collapse;

      /*    tr {
        border-bottom: 1px solid #dddddd;
      } */

      th {
        text-align: left;
        padding: 8px;
        background-color: #dddddd;
        font-size: 12px;
      }

      .ticket {
        cursor: pointer;
        border: 2px solid white;

        td {
          padding: 8px;
          font-size: 12px;
        }

        .project__title,
        .ticket__title {
          width: 35%;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .tickets {
    margin-left: 5px;
    margin-right: 5px;

    .tickets__wrapper {
      margin-right: 0;
      padding: 10px 5px;

      .hidden {
        display: none;
      }

      .ticket {
        td {
          padding: 4px;
        }
      }
    }
  }
}
