.table__header {
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;

  .img__gray {
    color: gray;
    margin-right: 2px;
  }

  .flex {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 950px) {
  .hidden {
    display: none;
  }

  .table__header {
    span {
      font-size: 10px;
    }
  }
}
