.button {
  color: white;
  background-color: #6975e1;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #525aee;
  }
}

.disabled {
  cursor: default;
  background-color: rgb(197, 192, 192);
  &:hover {
    background-color: rgb(197, 192, 192);
  }
}
