.project__details {
  margin-bottom: 10px;
  color: white;
  font-size: 14px;
}

.tickets__wrapper {
  background-color: #fffdff;
  min-height: 200px;
  margin-right: 20px;
  z-index: 4;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px 20px;
  margin-bottom: 40px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    font-size: 12px;
  }

  .buttons {
    display: flex;
    gap: 10px;
    button {
      font-size: 12px;
    }
  }
  .tickets {
    width: 100%;
    border-collapse: collapse;

    /*    tr {
      border-bottom: 1px solid #dddddd;
    } */

    th {
      text-align: left;
      padding: 8px;
      background-color: #dddddd;
      font-size: 12px;
    }
    td {
      padding: 8px;
      font-size: 12px;
    }

    .ticket {
      cursor: pointer;
      border: 2px solid white;

      .ticket__name {
        width: 20%;
      }
      .ticket__description {
        width: 40%;
      }
    }

    .selected {
      border: 2px solid black;
      td {
        border-bottom: 2px solid black;
        border-top: 2px solid black;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .tickets__wrapper {
    margin-right: 0;
    padding: 10px 5px;

    .tickets {
      td {
        padding: 4px;
      }
    }

    .hidden {
      display: none;
    }
  }
}
