.navbar {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 130px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .logo {
    padding-left: 10px;
    img {
      max-width: 100px;
      padding-top: 10px;
    }
  }
  .greet {
    padding: 20px 10px;
    font-weight: 600;
    font-size: 20px;
    color: #476fde;
    border-bottom: 1px solid rgb(187, 186, 186);
  }

  .links {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    border-bottom: 1px solid rgb(187, 186, 186);

    a {
      text-decoration: none;
      padding: 10px 0px;
    }
  }

  .logout {
    margin: 0 auto;
    border: none;
    padding: 10px 15px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}

.header {
  background-image: linear-gradient(to right, #7dc7ea, #476fde);
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 130px;
  width: 100%;
  height: 220px;
  color: white;
  z-index: -2;
  h1 {
    margin-left: 20px;
  }
}
