.organization {
  background-color: white;
  display: inline-block;
  width: 40%;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px 20px;
  font-size: 13px;

  h3 {
    font-size: 13px;
  }

  .users {
    border: 1px solid rgb(204, 202, 202);
    margin-top: 20px;

    .user {
      padding: 10px 0px;
      border-bottom: 1px solid rgb(204, 202, 202);
      span {
        margin-left: 10px;
      }

      &:hover {
        background-color: rgb(233, 233, 233);
        cursor: pointer;
      }
    }
  }
}
