.wrapper {
  display: flex;
  justify-content: center;
  .addProject {
    padding: 20px 20px;
    position: fixed;
    display: block;
    top: 20vh;
    width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 400ms ease-out forwards;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h3 {
      font-size: 13px;
    }

    .close {
      cursor: pointer;
    }
  }
  .input__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    input {
      padding: 10px 10px;
    }
    label {
      font-size: 13px;
    }

    .description {
      height: 100px;
      resize: vertical;
      padding: 10px 10px;
    }
  }
}

.members__wrapper {
  font-size: 13px;
  .members {
    padding: 5px 0px;
    border: 1px solid gray;
    min-height: 80px;
    max-height: 80px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    cursor: default;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 510px) {
  .wrapper {
    .addProject {
      width: 95vw;
    }
  }
}
